body {
  text-align: center;
  background-color: #111317;
  color: white;
  min-height: 100%;
}
.App {
  text-align: center;
}

img {
  width: 500px;
}

label {
  color: #ebe8d1;
}

ul,
li {
  list-style: none;
  list-style-type: none;
  color: #ebe8d1;
}

h1 {
  color: #9fc29a;
}

.prod {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.prod > * {
  flex: 1;
  flex-basis: 500px;
  position: relative;
  overflow: hidden;
}
