body {
  text-align: center;
  background-color: #111317;
  color: white;
  min-height: 90%;
}
.App {
  text-align: center;
}

img {
  width: 500px;
}

.card-parent {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-parent > * {
  flex: 1;
  flex-basis: 500px;
  position: relative;
  overflow: hidden;
}
